* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-xlarge: 2.4rem;

    --color-primary: #E0354B;
    --color-info: #3A7CA5;
    --color-danger: #D7263D;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

h1 {
    font-size: var(--font-size-large);
    color: var(--color-primary);
}

