.App-header {
    display: flex;
    align-items: center;
}


.App-header img {
    height: 12rem;
}

.App-header h1 {
    margin-left: 1rem;
}


@media (max-width: 768px) {
    .App-header {
        flex-direction: column;
    }

    .App-header img {
        height: 8rem;
    }

    .App-header h1 {
        margin-left: 0;
        margin-top: 1rem;
    }
}
